#! /bin/bash
[Desktop Entry]
Version=1.0
Name=FLC App
Comment=FLC desktop icon
Exec=/home/agnext/Documents/flc/flc
Icon=/home/agnext/Documents/flc/flc_utils/launcher/logo.png
Terminal=false
Type=Application
Categories=Application;
StartupWMClass=tk
