#! /bin/bash
[Desktop Entry]
Version=1.0
Name=FLC App
Comment=FLC desktop icon
Exec=/home/nvidia/Documents/tragnext/flc
Icon=/home/nvidia/Documents/tragnext/flc_utils/launcher/logo.png
Terminal=false
Type=Application
Categories=Application;
StartupWMClass=tk
